{sub_dirs,["apps"]}.
{lib_dirs,["apps"]}.
{deps_dir, "deps"}.
{deps, [
    {active,  ".*", {git, "git://github.com/synrc/active",    {tag,"1.4"}}},
    {n2o,     ".*", {git, "git://github.com/5HT/n2o",         "HEAD"}},
    {forms,   ".*", {git, "git://github.com/spawnproc/forms", {tag, "master"}}},
    {shen,    ".*", {git, "git://github.com/synrc/shen",      {tag,"1.5.0"}}},
    {rest,    ".*", {git, "git://github.com/synrc/rest",      {tag,"2.6"}}},
    {jsone,   ".*", {git, "https://github.com/sile/jsone.git",     {tag,"v0.3.3"}}},
    {services,".*", {git, "https://github.com/privat48/services",  {tag,"master"}}},
    {dbs,     ".*", {git, "https://github.com/privat48/dbs",       {tag,"0.4"}}},
    {act,     ".*", {git, "https://github.com/privat48/act",       "HEAD"}}
]}.
{edoc_opts, [{doclet, edoc_doclet},{packages,false},
	     {app_default, "http://www.erlang.org/doc/man"},
             {top_level_readme,{"./README.md","http://github.com/privat48/web"}}]}.

{fetch_speed,fast_master}.
{verbose,1}.
