[
 {services, [{mode,ops}]},
 {mnesia, [{dir, "/sybase/moneybox_db"}]},
 {act, [{config,act_config},{tps,'tps@127.0.0.1'}]},
 {n2o, [{port,8877},
        {app,web},
        {route,moneybox_routes},
        {ttl,9000},
	{bank,"AB"},
        {transfer_session,<<"csid">>},
        {auto_session,disabled},
        {log_backend,n2o_log},
        {log_modules,moneybox_allow},
        {event,pickle},
        {erroring,moneybox_error}]},
 {kvs, [{dba,store_mnesia},
        {log_modules,moneybox_allow},
        {user,[{interval,5,10,user},
               {interval,10,100,user2}]},
        {schema, [ dbs_config,
                   kvs_feed, kvs_user, kvs_subscription,
                   bpe_metainfo, act_config, moneybox_metainfo ]} ]}
].
